.container-clips {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  flex: 1;

  @media screen and (max-width: 768px) {
    display: block;
  }
}