.selection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  flex: 1;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
  }

  &.selection-error {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.selection-versus {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 769px) and (max-width: 1240px) {
    display: none;
  }
}

.selection-versus-img {
  text-align: center;
  width: 4rem;
  height: 3rem;
  scale: 1.5;

  @media screen and (max-width: 1830px) {
    width: 4rem;
    height: 3rem;
  }

  @media screen and (max-width: 768px) {
    margin-top: 0.5rem;
    scale: 1;
    width: 5rem;
    height: 4rem;
  }
}

.selection-error-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}