.selection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  flex: 1;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.selection-versus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection-versus-img {
  text-align: center;
  width: 5rem;
  height: 4rem;
  scale: 1.5;

  @media screen and (max-width: 1830px) {
    width: 4rem;
    height: 3rem;
  }

  @media screen and (max-width: 768px) {
    scale: 1;
    width: 5rem;
    height: 4rem;
  }
}