.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 2rem;
  font-size: 1rem;
}

.footer * {
  font-weight: 600;
}

.footer-left {
  text-align: left;
  gap: 0.5rem;
}

.footer-right {
  text-align: right;
  flex-direction: column;
  gap: 0.25rem;
}

.footer-left,
.footer-right {
  display: flex;
  flex-wrap: wrap;
}

.footer-btn-export {
  color: #C6ADFF;
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.05rem;
}