.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 2rem;
  font-size: 1rem;
}

.footer * {
  font-weight: 600;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}

.footer-btn-export {
  color: #C6ADFF;
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.125rem;
}