.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 1rem;
}

.footer * {
  font-weight: 600;
}

.footer-left {
  text-align: left;
  flex-direction: column;
}

.footer-right {
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  gap: 0.25rem;
}

.footer-left,
.footer-right {
  display: flex;
  flex-wrap: wrap;
}

.footer-btn-export,
.footer-btn-clear {
  color: #C6ADFF;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  gap: 0.05rem;

  span:first-child {
    margin-top: 0.25rem;
  }
}
