.choose-button {
  background-color: #6D28D9;
  color: #C6ADFF;
  border: none;
  padding: 16px 30px;
  width: 100%;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
}

.choose-button:hover {
  background-color: #8a3ffc;
}