.clip-info { /* Container para título e username */
  margin-bottom: 2rem;
}

.clip-title {
  color: #F6F6F6;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.25;
  font-size: 24px;
}

.clip-username {
  color: #C6ADFF;
  font-weight: 700;
  font-size: 20px;
}

.clip {
  margin-top: 2rem;
  background-color: #000000;
  border: 1px solid #6D28D9;
  width: 100%;
  padding-bottom: 56.25%; /* Mantém a proporção 16:9 */
}