.app {
  margin: 5rem 0;
  width: 90vw;
  max-width: 2155px;

  @media screen and (max-width: 768px) {
    width: 90vw;
  }

  @media screen and (max-width: 425px) {
    margin: 2rem 0;
  }
}

.none {
  display: none;
}

.unsecure-text {
  overflow-wrap: anywhere;
}